h1, h2 {
    padding-top: 20px;
}

#quoteSection {
    background-color:#66b3ff;
    padding-top: 10px;
    padding-bottom: 50px;
}

#quoteSection h3 {
    background-color:#0080ff;
    padding:5px;
    padding-right: 65px;
}

#overdueSection {
    text-align: center;
    margin-top: 10px;
    background-color:#ff4d4d;
    padding-top: 10px;
    padding-bottom: 50px;
}

.fas {
    font-size: 10px;
}

#overdueSection h3 {
    text-align: center;
    padding:5px;
    padding-right: 80px;
    background-color:#e60000;
}

#addSection {
    float:left;
}

#scheduleSection {
    padding-top: 50px;
    padding-bottom: 50px;
}

.row {
    padding-top: 10px;
}

li {
    padding-top: 10px;
}

